<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h1 class="text-center" style="margin-bottom: 40px;">One Time Password</h1>
      <div *ngIf="!isTOTPGenerated">
        <div class="text-center">
          <div class="form-check form-check-inline">
            <p>Click this button to generate TOTP</p>
          </div>
          <div class="form-check form-check-inline">
            <button (click)="getTOTPNumber()" class="btn btn-primary">Generate TOTP</button>
          </div>
        </div>
      </div>

      <div *ngIf="isTOTPGenerated">
        <div class="text-center" style="margin-bottom: 40px;" *ngIf="message">
          The OTP is: <span class="text-warning">{{message}}</span></div>

        <div *ngIf="!timerIsUp"><timer (timerUp)="handleTimerUp()"></timer></div>
        <div class="text-center text-danger" style="margin-bottom: 40px; font-size: 25px;" *ngIf="timerIsUp">Timer is up!</div>

        <form [formGroup]="digitsForm" (ngSubmit)="onSubmit()" class="form-inline">
          <div class="form-group">
            <div class="form-check form-check-inline" style="width: 150px;">
              <input type="number" class="form-control" formControlName="digit1">
            </div>
            <div class="form-check form-check-inline" style="width: 150px;">
              <input type="number" class="form-control" formControlName="digit2">
            </div>
            <div class="form-check form-check-inline" style="width: 150px;">
              <input type="number" class="form-control" formControlName="digit3">
            </div>
            <div class="form-check form-check-inline" style="width: 150px;">
              <input type="number" class="form-control" formControlName="digit4">
            </div>
            <div class="form-check form-check-inline" style="width: 150px;">
              <input type="number" class="form-control" formControlName="digit5">
            </div>
            <div class="form-check form-check-inline" style="width: 150px;">
              <input type="number" class="form-control" formControlName="digit6">
            </div>
            <button type="submit" [disabled]="timerIsUp || errorMessage" class="btn btn-primary">Submit</button>
          </div>
        </form>

        <div class="text-center" style="margin-top: 40px; font-size: 25px" *ngIf="messageFromServer">{{messageFromServer}}</div>
      </div>
    </div>
  </div>
</div>
